# Client ID & Secrets
export SOCIAL_AUTH_GITHUB_KEY=
export SOCIAL_AUTH_GITHUB_SECRET=

# Consumer keys
export SOCIAL_AUTH_TWITTER_KEY=
export SOCIAL_AUTH_TWITTER_SECRET=

# Client ID & Secret
export SOCIAL_AUTH_QIITA_KEY=
export SOCIAL_AUTH_QIITA_SECRET=

# DEBUG=Falseでないとミドルウェアが機能しない
export DEBUG=False
export ALLOWED_HOSTS=localhost
